
html, body{
	height: 100%;
	width:100%;
	color: #222;

}
html{
	scroll-behavior: smooth;
	
}

/*==============================================================*/
img {
  transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}
img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}
/*========================================================NAV HOVER ANIMATION*/
/*.navbar-nav ul li a::before,
.navbar-nav ul li a::after,{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #6648b1;
	left: 0;
	transform: scaleX(0);
	transition: all 0.5s;

}
.navbar-nav ul li a::before{
	top: 0;
	transform-origin: left;
}

.navbar-nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}
.navbar-nav ul li a:hover::before,
.navbar-nav ul li a:hover::after{
	transform: scaleX(1);
}*/
.navbar-nav li a:hover{
	margin-bottom: -3px;
	border-bottom: 3px solid #dfdfdf;
}
.navbar-nav li a:focus{
	margin-bottom: -3px;
	border-bottom: 3px solid green;
}
.navbar-nav li a:active{
	margin-bottom: -3px;
	border-bottom: 3px solid #3f3f3f;
}


/*========================================================NAV BAR*/
.navbar{
	padding: 0px;
	
}
.navbar-toggler{
	padding: 5px;
}


.navbar-nav li{
	padding-right: 20px; 
}

.navbar-nav li a{
	float: right;
	text-align: left;
}

.nav-link{
	font-size: 16px;

}

.navbar-brand img{
	color: red;
	width:35px;
	border-radius: 100%;
	padding: 5px;	
}
.logoName{
	display: inline-block;
	padding: 10px 0px 0px 0px;
	letter-spacing: 10px;
	font-family: light;
}

.line{
	width:120px;
	height:3px;
	background-color: #dfdfdf;

}
	
}


.fun button{
	background-color: white;
	border: 1px solid grey;
}

.profile img{
	width:500px;
	border-radius:100%;
	position: absolute;
	right: 40px;
	top:40px;
	background-color: black;
}
/*==============================================================*/
.carousel-inner{
  width:100%;
  max-height: 100vh;
}

.carousel-item img{
	width: 100%;
	height: 50%;
}

.carousel-item img{
  transition: filter .4s ease-in-out;
  -webkit-filter: grayscale(50%); 
  filter: grayscale(50%); 
}
.carousel-item img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}

.carousel-caption{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
}
.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
}

.display-1{
	letter-spacing: 10px;
}

.btn-primary{
	background-color: #6648b1;
	border: 1px solid #fff ;
}

.btn-primary:hover {
	background-color: #6648b1;
	border: 1px solid #6648b1 ;
}
/*==============================================================*/
.jumbotron{
	padding: 16px;
	border-radius: 0;
}

.padding{
	padding-top: 50px;
	padding-bottom: 32px;
}

.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 32px;

}
.welcome hr{
	border-top: 1px solid #b4b4b4;
	width: 95%;
	margin-top: 6px;
	margin-bottom: 16px;
}

.profilePic {
	border-radius: 100%;
	padding: 20px;
	width:100%;
	max-width: 600px;

}
/*==============================================================    NOVA    ========*/
.novaImg{
	border-radius: 100%;
	width: 70%;
	overflow: hidden;
	padding: 0px;
	border: 5px solid /*#FFA233*/#71D9CA;
	margin:10px;
	max-width: 300px;
	
}
/*==============================================================    TESTIMONIAL     ========*/
#testimo{
	padding: 30px auto;
	margin-top: 30px;

}
/*==============================================================*/
.skillsImg{
	width: 130px;
	padding: 5px;

}
#skillContainer{
    background-color: #dfdfdf;
    background-image: url('images/adobe.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
}




/*==============================================================*/
.fas{
	color: #6648b1;
	font-size: 30px

}

.fun{
	width:100%;
	margin-bottom: 30px;
}
.gifs{
	max-width: 50%;
}
/*==============================================================*/
.card img{

}

.card{

	margin: 10px;
	display: inline-block;
	max-height: 100%;

}


#cardButton{
	background-color: #3f3f3f;
	padding: 10px auto;
}
/*==============================================================*/
.fixed{
	background-image: url(images/rossdraws-milo-14.jpg);
	background-size: cover;
	width:100%;
	height:auto;
}
/*==============================================================*/

#expect{
	background-image: url(images/rossdraws-milo-14.jpg);
	background-repeat: no-repeat;
	position: center;
	background-size: cover;

}



/*==============================================================*/
.social a{
	font-size: 	64px;
	padding: 32px;
}
.fa-behance-square: hover {
	color:  #053eff;
}
.fa-google-plus: hover {
	color:  #db3236;
}
.fa-facebook: hover {
	color:  #3b5998;
}
.fa-instagram: hover {
	color:  #3f729b;
}
.fa-snapchat-square: hover {
	color:  #fefc00;
}

#contactIcons{
	color:#3f3f3f;
	font-size: 50px;
}

/*==============================================================*/
.footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
}
hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: 12px; 
	margin-bottom: 16px;
}
hr.light2{
	border-top: 1px solid #d5d5d5;
	width: 95%;
	margin-top: 12px; 
	margin-bottom: 16px;
}

footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 20px;
}

#footerIcons{
	font-size: 40px;
}
#copyri{
	font-size: 15px;
}











/* ===========tablet========================================================*/

@media (max-width: 992px){

}

/* ===========phone========================================================*/

@media (max-width: 768px){

.navbar{
	padding: 0px 10px;

	/*max-height: auto;*/
}
.navbar-brand img{
	color: red;
	width:30px;
	
	border-radius: 100%;
	padding: 0px;	
}
.logoName{
	display: inline-block;
	padding:0 0px;
	letter-spacing: 10px;
	font-family: light;
	font-size: 20px;
	padding-left:25vh

}


.carousel-item button{
	display: none;
} 
.carousel-caption h1{
	font-size: 100%;
	text-transform: uppercase;
}
.carousel-caption h3{
	font-size: 50%;
	
}
.carousel-caption{
	position: relative;
	
}


.carousel-caption{
	top:10%;
	
}
.carousel-caption {
	width: 550px;
	left: 15%;
	top: 50% !important;
	transform: translateY(-50%);
	text-align: left;
	bottom: initial;
}

/*===========================================================================*/
.gifs{
	max-width: 20%;
}
#contactIcons{
	color:#3f3f3f;
	font-size: 40px;
	padding: 0px;
}

#footerIcons{
	font-size: 20px;
}
#copyri{
	font-size: 12px;
}
}

/* ===========min phones========================================================*/

@media (max-width: 576px){

}
